.btn{
  height: 100px;
  width: 200px
}

*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
  
#root{
  display: block;
  justify-content: center;
}

.App{
  display: flex;
  flex-direction: column;
}


.pokemon-header-pokeball-image {
  width: calc(80px + 2vmin);
  position: absolute;
  right: 20px;
  top: -20px;
  opacity: .4;
}

.pokemon-header {
  background-color: #072AC8;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.arrow-back {
  width: 7%;
  margin: calc(25% - 27px);
}



.pokemon-header-pokeball-image {
  width: calc(80px + 2vmin);
  position: absolute;
  right: 20px;
  top: -20px;
  opacity: .4;
}


@media only screen and (max-width: 767px) {
  .pokemon-card {
      width: calc(100% - 10px);
  }

  .arrow-back {
      margin: calc(25% - 32px);
  }

  .pokemon-header-pokeball-image {
      top: -16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  a {
      max-width: 18%;
  }

  .pokemon-card {
      width: calc(90% - 7px);
      white-space: nowrap;
  }

  .pokemon-header-pokeball-image {
      top: -10px;
  }
}